body{
    background-color: rgb(104, 101, 101);
}

embed{
    display: block; 
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto; 
    margin-right: auto;
    width:96%;
    height:100vh;

}

/* @media only screen and (min-width: 900px) {
    embed{    
        margin-top: 2%;
        margin-bottom: 2%;
        width:50%;
        height:100vh;

    } */
  /* } */