body{
    background-color: gray;
    height:100vh;
}

iframe{
    display: block; 
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto; 
    margin-right: auto;
    width:50%;
    height:100%;

}

@media only screen and (max-width: 900px) {
    iframe{    
        margin-top: 2%;
        margin-bottom: 2%;
        width:96%
    }
  }